.loaderBackground {
  background-color: #000;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  opacity: 0.6;
  padding-top: 16px;
  position: fixed;
  top: 0;
  transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 100%;
  z-index: 1500;
}

.loaderContainer {
  left: 45%;
  margin: -75px 0 0 -75px;
  position: absolute;
  top: 50%;
  padding: 30px;
}

.loaderText {
  color:#FFF;
  text-align: left;
  z-index: 1550;
  font-family: 'RussoOne';
  font-size: 36px;
  font-weight: 500;
  float: left;
}

.loaderDotsDiv {
  width: 48px;
  text-align: right;
  float: left;
  margin-top: 18px;
}

.loaderDots {
  margin-right: 4px;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce1 {
  animation-delay: -0.32s;
}

.bounce2 {
  animation-delay: -0.16s;
}

@media screen and (max-width: 600px) {
  .loaderContainer {
    left: 35%;
    margin: -75px 0 0 -75px;
  }
  .loaderText {
    font-size: 30px;
  }
  .loaderDotsDiv {
    margin-top: 14px;
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}