.menu {
  display: block;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.menu_logo {
  width: 20vmin;
  height: 20vmin;
  margin: 15px;
}

.title_text {
  font-family: 'RussoOne';
  font-style: italic;
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin: 0px;
  margin-bottom: 10px;
}

.subtitle_text {
  font-family: 'RussoOne';
  font-style: italic;
  font-size: 20px;
  font-weight: 200;
  color: black;
  margin: 0px;
}

.menu_header {
  background-color: white;
  margin: 0px;
  min-height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu_body {
  background-color: white;
  margin-top: 10px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one_row {
  display: inline-flex;
  flex-direction: row;
}

.one_row_button {
  display: block;
  margin-left: 5px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}