.ticket {
  font-size: 14px;
  font-family: 'Times New Roman';
  flex-direction: column;
  width: 345px;
}

.description {
  width: 100%;
  text-align: left;
}

.quantity {
  width: 15%;
}

.price {
  width: 40%;
  text-align: right;
}

.exempt {
  width: 5%;
  text-align: right;
}

.button {
  margin: auto;
}

.row {
  display: flex;
  margin: 0 1%;
  width: 98%;
  min-height: 15px;
  justify-content: space-between;
}

.borderTop {
  border-top: 1px solid black;
}

.borderBottom {
  border-bottom: 1px solid black;
}

.left {
  width: 65%;
  text-align: left;
}

.leftPad {
  margin-left: 20%;
  width: 45%;
  text-align: left;
}

.right {
  width: 35%;
  text-align: right;
}

.center {
  width: 100%;
  text-align: center;
}

.centered {
  text-align: center;
  align-content: center;
}

img {
  max-width: inherit;
  width: inherit;
}

@media print {
  .hidden-print,
  .hidden-print * {
      display: none !important;
  }
}