body {
  font-family: "PF DinDisplay Pro", sans-serif;
  margin: 0;
}

@media all and (-ms-high-contrast:none) {
  body {
    overflow: hidden;
  }
}

.home {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

input::-ms-clear { display: none; }
  